body {
    margin: 0;
    overflow: hidden;
    background-color:black;
    font-family: 'Century Gothic', sans-serif;
}

.box {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: rgb(9, 0, 31);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Century Gothic', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    margin-left:4%;
    padding: 0;
    display: flex;
    flex-direction: row;
}

li {
    margin: 0 5%;
}


a {
    color: aqua;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: white;
}

canvas {
    position: fixed;
    z-index: -10;
}

.scroller{
    overflow-y: scroll;
}

header {
    position: absolute;
    color: #fff;
    top:5%;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    opacity: 0.8;
}

.pfp{
    position: absolute;
    display:none;
    left:50%;
    margin-top: 25px;
    width:300px;
    height:200px;
    opacity: 90%;
    transform: translateX(-50%);
    color: black;
}

h1 {
    margin: 0;
    font-size: 36px;
    color:#CBC3E3;
}

.content {
    position: absolute;
    display:none;
    top:65%;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    color: white;
}

.resume {
    display: block;
    padding: 12px 24px;
    background-color: #151515;
    color: white;
    font-size: 15px;
    font-weight: 700;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    border: midnightblue;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-family: 'Century Gothic', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
}