@import url('https://fonts.cdnfonts.com/css/century-gothic');
body {
    margin: 0;
    overflow: hidden;
    background-color:black;
    min-height: 500px;
    min-width: 300px;
}

nav {
background-color: rgb(9, 0, 31);
display: flex;
justify-content: space-between;
padding: 10px;
font-family: 'Century Gothic', sans-serif;
}

ul {
list-style: none;
margin: 0;
margin-left:4%;
padding: 0;
display: flex;
flex-direction: row;
}

li {
margin: 0 5%;
}


a {
color: aqua;
text-decoration: none;
font-size: 20px;
font-weight: bold;
transition: all 0.3s ease-in-out;
}

a:hover {
color: white;
}

@media (max-width: 700px) {
    nav ul li:nth-child(n+3) {
        display: none;
    }
    nav ul li:nth-child(6) {
        display: block;
    }
    nav ul li:nth-child(7) {
        display: block;
    }
    .skipb{
        display: none;
    }
}